body{
    background-color:;
}
.navbar {
    background-color: #00cba9;
    border-style: ;
    border-color: whitesmoke;
}
.navbar-brand{
    border-style: double;
    font-size: x-large;
}
.card {
    text-align: center;
}
.card-body{
    border: #00cba9 5px;
    text-shadow: darkseagreen;
    border-style: double;
    font-size: x-large;
}
.btn{
    background-color: #00cba9;
    color: black;
}
footer{
    color: black;
    background-color: #00cba9;
}