.navbar{
    border-style: double;
    border-color: white;
}
.navbar-brand{
    border-style: double;
    font-size: x-large;
}
.accordion-body{
    border-style: double;
    border-color: white;
}
.card-footer {
    text-align: center;
}
.table{
    table-layout: auto;
    text-align: left;
    border: 2px;
    width: 100%;
}
h4 {
    text-align: center;
}
